<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/angular.min.js"></script>
  <script src="js/uber.controller.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body ng-app="genApp">
  <div ng-controller="uberCtrl">
    <center>
      <div>
      <h3> Set pickup </h3>
      <br>
      <input type="text" ng-model="deeplink.data.pickup.latitude">
      <input type="text" ng-model="deeplink.data.pickup.longitude">
      <br><br>
      <input type="text" ng-model="deeplink.data.dropoff.latitude">
      <input type="text" ng-model="deeplink.data.dropoff.longitude">
      <br><br>
      <br><br>
      <input type="button" ng-click="deeplink.req(deeplink.data)" value="Request">
    </div>
  </center>
  </div>
</body>
</html>
